/**********************************/
/*    Get Started Button Style    */
/**********************************/

.get-started-button{
    -fx-border-color: #66fcf1;
    -fx-border-width: 2;
    -fx-border-radius: 25;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: #ffffff;
}

.get-started-button:hover{
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-color: #66fcf1;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: #000000;
}

.get-started-button:pressed{
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-color: #45a29e;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: #000000;
}

/***************************/
/*    Menu Button Style    */
/***************************/

.menu-button{
    -fx-border-color: #66fcf1;
    -fx-border-width: 2;
    -fx-border-radius: 25;
    -fx-background-color: transparent;
}

.menu-button:hover{
    -fx-border-color: #66fcf1;
    -fx-border-width: 2;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-color: rgba(31, 41, 51, 0.5);
}

.menu-button:pressed{
    -fx-border-color: #66fcf1;
    -fx-border-width: 2;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-color: rgba(31, 41, 51, 0.75);
}

/*********************************/
/*    Navigation Button Style    */
/*********************************/

.navbar-buttons{
    -fx-background-color : #1f2833;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #45a29e;
}

.navbar-buttons:hover{
    -fx-background-color : #1f3843;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #45a29e;
}

/*********************************/
/*    DriverPage Button Style    */
/*********************************/

.driver-buttons{
    -fx-background-color : #1f2833;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #66fcf1;
}

.driver-buttons:hover{
    -fx-background-color : #1f3843;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 16; /* 12 */
    -fx-text-fill: #66fcf1;
}

/**************************/
/*    Text Field Style    */
/**************************/

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-border-color: #45a29e;
    -fx-border-width: 2;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
}

.text-field:focused{
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-border-color: #66fcf1;
    -fx-border-width: 2;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
}

/***************************/
/*    Date Picker Style    */
/***************************/

.date-picker {
    -fx-background-color: #1f2833;
}

.date-picker > .arrow-button {
    -fx-background-color: #45a29e;
}

.date-picker > .arrow-button:hover {
    -fx-background-color: #66fcf1;
}

.date-picker > .arrow-button:pressed {
    -fx-background-color: #c5c6c7;
}

.date-picker > .text-field {
    -fx-background-color: #0b0c10;
    -fx-text-fill: #c5c6c7;
    -fx-border-radius: 25;
}