.root{
    -fx-background-color: #262626;
}

.table-view{
   -fx-background-color: transparent;
}
/*
.table-row-cell {
    -fx-table-cell-border-color: transparent;
}
*/
/*
.table-view:focused{
    -fx-background-color: transparent;
}
*/

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);

}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;

}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color:  #616161;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em; /* 0 */
     -fx-text-background-color: white;
}

.table-row-cell:odd{
    -fx-background-color:  #424242;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;}
    -fx-text-background-color: white;
/* Selected row */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: brown;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-text-background-color: white;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: red;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-background-color: white;
}


/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-text-background-color:#ae0909;
    -fx-font-weight:bold;
}

.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .corner {
    -fx-background-color: black ;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: grey;
    -fx-background-radius: 5em;
}
.table-view .corner {
    -fx-background-color: transparent;
}
